:root {
    --title-color: #fefefe;
    --border-color: #c0e0df;
    --text-color: #eaa0b2;
    --other-color: #f9eec8;
}

body {
    background-color: #2c3039;
    margin: 0%;
    padding: 0%;
    font-size: 100%;
}

.header {
    height: 25vh;
    width: 100%;
}

#title {
    font-family: 'Lobster', cursive;
    font-size: 100%;
    color: var(--title-color);
    font-weight: normal;
    margin: 0%;
    padding: 0%;
}