:root {
    --title-color: #fefefe;
    --border-color: #c0e0df;
    --text-color: #eaa0b2;
    --other-color: #f9eec8;
    --background-color: #2c3039;
}

body {
    background-color: var(--background-color);
    margin: 0%;
    padding: 0%;
    font-size: 100%;
    color: var(--text-color);
}

.header {
    height: 10vh;
    width: 100%;
    display: flex;
    place-items: center;
    justify-content: center;
}

#title {
    font-family: 'Lobster', cursive;
    font-size: 350%;
    color: var(--title-color);
    font-weight: normal;
    margin: 0%;
    padding: 0%;
}

div {
    display: flex;
    place-items: center;
    justify-content: center;
    margin: .5em;
}

h1 {
    padding-bottom: 2em;
}

h2 {
    margin: 0px;
    padding: 0px;
}

#grid-size {

}

button {
    margin: .7em;
    border: .5em solid var(--border-color);
    color: var(--background-color);
    font-weight: bold;
    padding: .7em;
    border-radius: 2.2em;
    width: 11em;
}

button:hover {
    background-color: var(--other-color);
    border: .5em solid var(--text-color);
    cursor: pointer;
}