:root {
    --title-color: #fefefe;
    --border-color: #c0e0df;
    --text-color: #eaa0b2;
    --other-color: #f9eec8;
    --background-color: #2c3039;
}

body {
    background-color: var(--background-color);
    margin: 0%;
    padding: 0%;
    font-size: 100%;
    color: var(--text-color);
}

.header {
    height: 9vh;
    width: 100%;
    display: flex;
    place-items: center;
    justify-content: center;
}

#title {
    font-family: 'Lobster', cursive;
    font-size: 370%;
    color: var(--title-color);
    font-weight: normal;
    margin: 0%;
    padding: 0%;
}

div {
    display: flex;
    place-items: center;
    justify-content: center;
    margin: .3em;
    flex-wrap: wrap;
    width: 100%;
}

h1 {
    padding-bottom: 2em;
}

h2 {
    margin: 0px;
    padding: 0px;
}

#game-board {
    justify-content: center;
    display: flex;
    width: 35vw;
    min-width: 400px;
    min-height: 400px;
    height: 70vh;
    background-color: var(--title-color);
    margin: 20px auto 0 auto;
    border: 8px ridge var(--text-color);
}

#grid-size {
    margin-top: .3em;
}

#game-div {
    width: 100% - 16px;
    height: 100%;
    display: grid;
    margin: 0px;
}

button {
    margin: .7em;
    border: .5em solid var(--border-color);
    color: var(--background-color);
    font-weight: bold;
    padding: .5em;
    border-radius: 2.2em;
    width: 10em;
}

button:hover {
    background-color: var(--other-color);
    border: .5em solid var(--text-color);
    cursor: pointer;
}

.color {
    padding: 0%;
    margin: 0%;
    width: 100%;
    height: 100%;
    opacity: 1.0;
    background-color: #fefefe;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}